h1, h2, h4 {
  text-align: center;
}

#logo h1 {
  font: bold 3.5em/0.5em serif;
}

#logo h2 {
  font: 2em;
  letter-spacing: 7px;
}

p {
  text-align: justify;
  font: normal 1.1em/1.6em serif;
}

tab1 {
  padding-left: 2.5em;
}

div#content {
  width: 75%;
  margin: 0 auto;
}

div#left {
  width: 45%;
  margin-left: 5%;

  float: left;
  /*display: inline-block;*/
}

div#right {
  float: right;
  width: 45%;
  /*display: inline-block;*/
  margin-left: 5%;
}

div.solo {
  height: 700px;
}
